@font-face {
  font-family: "Plus Jakarta Display";
  src: url("/PlusJakartaSans-ExtraBold.ttf");
  font-family: "Plus Jakarta Sans";
  src:url("/PlusJakartaSans-Medium.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;