@font-face {
  font-family: "Plus Jakarta Display";
  src: url(/PlusJakartaSans-ExtraBold.ttf);
}
@font-face {
  font-family: "Plus Jakarta sans";
  src: url(/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: Plus Jakarata sansmedium-italic;
  src: url(/PlusJakartaSans-MediumItalic.ttf);
}
@font-face {
  font-family: Plus Jakarata sansmedium;
  src: url(/PlusJakartaSans-Medium.ttf);
}

.font_plusdisplay
{
  font-family: "Plus Jakarta Display";
}
/* .container {
background-color: #e5e5e5;
}
.middle_div{
  position: absolute;
left: 10%;
right: 16.82%;
top: 2.27%;
bottom: 92.95%;

font-family: Plus Jakarta Display;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 110%;



color: #0B0D13;

} */

